<p style="color: green"><%= notice %></p>

<h1>Books (<%= Book.count %>)</h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render partial: 'book_preview', locals: { book: book } %>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>
